<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Ogre script</string>
	<key>BBLMLanguageCode</key>
	<string>OgSc</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.compositor</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.material</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.particle</string>
		</dict>
	</array>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMKeywords</key>
	<array>
	    <dict>
	        <key>RunKind</key>
	        <string>com.barebones.bblm.keyword</string>
	        <key>Keywords</key>
            <array>
                <string>1d</string>
                <string>2d_array</string>
                <string>2d</string>
                <string>2darray</string>
                <string>3d</string>
                <string>abstract</string>
                <string>accurate_facing</string>
                <string>add_signed</string>
                <string>add_smooth</string>
                <string>add</string>
                <string>affector</string>
                <string>alias</string>
                <string>all_layers</string>
                <string>all</string>
                <string>allow_write_after_write</string>
                <string>alpha_blend</string>
                <string>alpha_op_ex</string>
                <string>alpha_rejection</string>
                <string>alpha_to_coverage</string>
                <string>alpha</string>
                <string>alpha1</string>
                <string>alpha2</string>
                <string>always_fail</string>
                <string>always_pass</string>
                <string>ambient_light_colour</string>
                <string>ambient</string>
                <string>angle</string>
                <string>anim_texture</string>
                <string>animation_parametric</string>
                <string>anisotropic</string>
                <string>anticlockwise</string>
                <string>api_default</string>
                <string>array_index</string>
                <string>automatic_batching</string>
                <string>back</string>
                <string>bake_lighting_only</string>
                <string>billboard_origin</string>
                <string>billboard_rotation_type</string>
                <string>billboard_type</string>
                <string>bind_uav</string>
                <string>binding_type</string>
                <string>blend_current_alpha</string>
                <string>blend_diffuse_alpha</string>
                <string>blend_diffuse_colour</string>
                <string>blend_manual</string>
                <string>blend_texture_alpha</string>
                <string>blue</string>
                <string>blue1</string>
                <string>blue2</string>
                <string>both</string>
                <string>bounce</string>
                <string>buffer</string>
                <string>buffers</string>
                <string>camera_cubemap_reorient</string>
                <string>camera_direction</string>
                <string>camera_far_corners_view_space_normalized_lh</string>
                <string>camera_far_corners_view_space_normalized</string>
                <string>camera_far_corners_view_space</string>
                <string>camera_far_corners_world_space_centered</string>
                <string>camera_far_corners_world_space</string>
                <string>camera_position_object_space</string>
                <string>camera_position</string>
                <string>camera</string>
                <string>channel_mask</string>
                <string>check</string>
                <string>clear_colour_reverse_depth_aware</string>
                <string>clear_colour</string>
                <string>clear_depth</string>
                <string>clear_stencil</string>
                <string>clear</string>
                <string>clockwise</string>
                <string>colour_blend</string>
                <string>colour_op_ex</string>
                <string>colour_op_multipass_fallback</string>
                <string>colour_op</string>
                <string>colour_range_end</string>
                <string>colour_range_start</string>
                <string>colour_value</string>
                <string>colour_write</string>
                <string>colour</string>
                <string>colour0</string>
                <string>colour1</string>
                <string>colour2</string>
                <string>combinedUVW</string>
                <string>common_direction</string>
                <string>common_up_vector</string>
                <string>comp_func</string>
                <string>compare_func</string>
                <string>compositor_node_shadow</string>
                <string>compositor_node</string>
                <string>compositor</string>
                <string>compute_hq</string>
                <string>compute_program_ref</string>
                <string>compute_program</string>
                <string>compute</string>
                <string>connect_buffer_external</string>
                <string>connect_buffer</string>
                <string>connect_external</string>
                <string>connect_output</string>
                <string>connect</string>
                <string>constant_bias_scale</string>
                <string>content_type</string>
                <string>costime_0_1</string>
                <string>costime_0_2pi</string>
                <string>costime_0_x</string>
                <string>cubemap_array</string>
                <string>cubemap_target_shadow</string>
                <string>cubemap</string>
                <string>cubic_normal</string>
                <string>cubic_reflection</string>
                <string>cubic_texture</string>
                <string>cubic</string>
                <string>cull_camera</string>
                <string>cull_each</string>
                <string>cull_hardware</string>
                <string>cull_mode</string>
                <string>cull_reuse_data</string>
                <string>custom_id</string>
                <string>custom</string>
                <string>decrement_wrap</string>
                <string>decrement</string>
                <string>default_params</string>
                <string>delegate</string>
                <string>depth_bias</string>
                <string>depth_check</string>
                <string>depth_copy</string>
                <string>depth_fail_op</string>
                <string>depth_format</string>
                <string>depth_func</string>
                <string>depth_pool</string>
                <string>depth_read_only</string>
                <string>depth_stencil</string>
                <string>depth_texture</string>
                <string>depth_value</string>
                <string>depth_write</string>
                <string>depth</string>
                <string>derived_ambient_light_colour</string>
                <string>derived_light_diffuse_colour_array</string>
                <string>derived_light_diffuse_colour</string>
                <string>derived_light_specular_colour_array</string>
                <string>derived_light_specular_colour</string>
                <string>derived_scene_colour</string>
                <string>dest_alpha</string>
                <string>dest_colour</string>
                <string>diffuse</string>
                <string>direction</string>
                <string>directional</string>
                <string>discard_only</string>
                <string>dont_care</string>
                <string>dotproduct</string>
                <string>duration_max</string>
                <string>duration_min</string>
                <string>duration</string>
                <string>emission_rate</string>
                <string>emissive</string>
                <string>emit_emitter_quota</string>
                <string>emit_emitter</string>
                <string>emitter</string>
                <string>enable_forwardplus</string>
                <string>enable_include_header</string>
                <string>entry_point</string>
                <string>env_map</string>
                <string>equal</string>
                <string>exclude</string>
                <string>execution_mask</string>
                <string>exp</string>
                <string>exp2</string>
                <string>explicit_resolve</string>
                <string>expose</string>
                <string>fail_op</string>
                <string>far_clip_distance</string>
                <string>filtering</string>
                <string>flat</string>
                <string>float</string>
                <string>float2</string>
                <string>float3</string>
                <string>float4</string>
                <string>flush_command_buffers_after_shadow_node</string>
                <string>flush_command_buffers</string>
                <string>fog_colour</string>
                <string>fog_override</string>
                <string>fog_params</string>
                <string>force_application</string>
                <string>force_mipmap_fallback</string>
                <string>force_vector</string>
                <string>fov</string>
                <string>fps</string>
                <string>fragment_program_ref</string>
                <string>fragment_program</string>
                <string>fragment</string>
                <string>frame_time</string>
                <string>front</string>
                <string>fsaa</string>
                <string>gamma</string>
                <string>gauss_deviation</string>
                <string>gen_normals_gbuffer</string>
                <string>geometry_program_ref</string>
                <string>geometry_program</string>
                <string>geometry</string>
                <string>glsl</string>
                <string>glsles</string>
                <string>glslvk</string>
                <string>gouraud</string>
                <string>gpu_device_rule</string>
                <string>gpu_vendor_rule</string>
                <string>greater_equal</string>
                <string>greater</string>
                <string>green</string>
                <string>green1</string>
                <string>green2</string>
                <string>height</string>
                <string>hlms</string>
                <string>hlsl</string>
                <string>hlslvk</string>
                <string>identifier</string>
                <string>image</string>
                <string>in_buffer</string>
                <string>in</string>
                <string>include</string>
                <string>increment_wrap</string>
                <string>increment</string>
                <string>input</string>
                <string>instanced_stereo</string>
                <string>int</string>
                <string>int2</string>
                <string>int3</string>
                <string>int4</string>
                <string>inverse_projection_matrix</string>
                <string>inverse_sawtooth</string>
                <string>inverse_texture_size</string>
                <string>inverse_transpose_projection_matrix</string>
                <string>inverse_transpose_view_matrix</string>
                <string>inverse_transpose_viewproj_matrix</string>
                <string>inverse_transpose_world_matrix</string>
                <string>inverse_transpose_worldview_matrix</string>
                <string>inverse_transpose_worldviewproj_matrix</string>
                <string>inverse_uav_size</string>
                <string>inverse_view_matrix</string>
                <string>inverse_viewport_height</string>
                <string>inverse_viewport_width</string>
                <string>inverse_viewproj_matrix</string>
                <string>inverse_world_matrix</string>
                <string>inverse_worldview_matrix</string>
                <string>inverse_worldviewproj_matrix</string>
                <string>invert</string>
                <string>is_prepass</string>
                <string>iteration_depth_bias</string>
                <string>iteration_interval</string>
                <string>iteration</string>
                <string>job</string>
                <string>keep_content</string>
                <string>keep_previous_uavs</string>
                <string>keep</string>
                <string>kernel_radius</string>
                <string>less_equal</string>
                <string>less</string>
                <string>light_attenuation_array</string>
                <string>light_attenuation</string>
                <string>light_casts_shadows_array</string>
                <string>light_casts_shadows</string>
                <string>light_clip_planes</string>
                <string>light_count</string>
                <string>light_custom</string>
                <string>light_diffuse_colour_array</string>
                <string>light_diffuse_colour_power_scaled_array</string>
                <string>light_diffuse_colour_power_scaled</string>
                <string>light_diffuse_colour</string>
                <string>light_direction_array</string>
                <string>light_direction_object_space_array</string>
                <string>light_direction_object_space</string>
                <string>light_direction_view_space_array</string>
                <string>light_direction_view_space</string>
                <string>light_direction</string>
                <string>light_distance_object_space_array</string>
                <string>light_distance_object_space</string>
                <string>light_mask</string>
                <string>light_position_array</string>
                <string>light_position_object_space_array</string>
                <string>light_position_object_space</string>
                <string>light_position_view_space_array</string>
                <string>light_position_view_space</string>
                <string>light_position</string>
                <string>light_power_array</string>
                <string>light_power</string>
                <string>light_scissor</string>
                <string>light_specular_colour_array</string>
                <string>light_specular_colour_power_scaled_array</string>
                <string>light_specular_colour_power_scaled</string>
                <string>light_specular_colour</string>
                <string>light_visibility_mask</string>
                <string>light</string>
                <string>linear</string>
                <string>load</string>
                <string>local_space</string>
                <string>lod_bias</string>
                <string>lod_camera_position_object_space</string>
                <string>lod_camera_position</string>
                <string>lod_camera</string>
                <string>lod_distances</string>
                <string>lod_index</string>
                <string>lod_strategy</string>
                <string>lod_update_list</string>
                <string>lod_values</string>
                <string>mask</string>
                <string>material_scheme</string>
                <string>material</string>
                <string>max_anisotropy</string>
                <string>max_lights</string>
                <string>max</string>
                <string>metal</string>
                <string>min</string>
                <string>mip</string>
                <string>mipmap_bias</string>
                <string>mipmap_method</string>
                <string>mipmap</string>
                <string>mipmaps</string>
                <string>modulate_x2</string>
                <string>modulate_x4</string>
                <string>modulate</string>
                <string>msaa_auto</string>
                <string>msaa</string>
                <string>name</string>
                <string>named</string>
                <string>near_clip_distance</string>
                <string>no_automipmaps</string>
                <string>no_fsaa</string>
                <string>no_gamma</string>
                <string>non_tilers_only</string>
                <string>nonvisible_update_timeout</string>
                <string>normal_offset_bias</string>
                <string>not_equal</string>
                <string>num_initial</string>
                <string>num_splits</string>
                <string>num_stable_splits</string>
                <string>once_per_light</string>
                <string>once</string>
                <string>one_minus_dest_alpha</string>
                <string>one_minus_dest_colour</string>
                <string>one_minus_src_alpha</string>
                <string>one_minus_src_colour</string>
                <string>out_buffer</string>
                <string>out</string>
                <string>output</string>
                <string>overlays</string>
                <string>packed_texture_size</string>
                <string>packed_uav_size</string>
                <string>param_indexed_auto</string>
                <string>param_indexed</string>
                <string>param_named_auto</string>
                <string>param_named</string>
                <string>particle_height</string>
                <string>particle_system</string>
                <string>particle_width</string>
                <string>pass_iteration_number</string>
                <string>pass_number</string>
                <string>pass_op</string>
                <string>pass</string>
                <string>per_light</string>
                <string>per_n_lights</string>
                <string>phong</string>
                <string>planar</string>
                <string>plane_normal</string>
                <string>plane_point</string>
                <string>point_rendering</string>
                <string>point_size_attenuation</string>
                <string>point_size_max</string>
                <string>point_size_min</string>
                <string>point_size</string>
                <string>point_sprites</string>
                <string>point</string>
                <string>points</string>
                <string>polygon_mode_overrideable</string>
                <string>polygon_mode</string>
                <string>position</string>
                <string>preprocessor_defines</string>
                <string>profiling_id</string>
                <string>projection_matrix</string>
                <string>pssm_blends</string>
                <string>pssm_fade</string>
                <string>pssm_lambda</string>
                <string>pssm_split_blend</string>
                <string>pssm_split_fade</string>
                <string>pssm_split_padding</string>
                <string>pssm_splits</string>
                <string>quad_normals</string>
                <string>quota</string>
                <string>randomness</string>
                <string>rate</string>
                <string>read_mask</string>
                <string>read</string>
                <string>receive_shadows</string>
                <string>red</string>
                <string>red1</string>
                <string>red2</string>
                <string>ref_value</string>
                <string>reinterpretable</string>
                <string>render_quad</string>
                <string>render_scene</string>
                <string>render_target_flipping</string>
                <string>renderer</string>
                <string>repeat_delay_max</string>
                <string>repeat_delay_min</string>
                <string>repeat_delay</string>
                <string>replace</string>
                <string>resolve_mip</string>
                <string>resolve_mipmap</string>
                <string>resolve_slice</string>
                <string>resolve</string>
                <string>reverse_subtract</string>
                <string>rotate_anim</string>
                <string>rotate</string>
                <string>rotation_range_end</string>
                <string>rotation_range_start</string>
                <string>rotation_speed_range_end</string>
                <string>rotation_speed_range_start</string>
                <string>rq_first</string>
                <string>rq_last</string>
                <string>rs_depth_range</string>
                <string>rtv</string>
                <string>samples_per_iteration</string>
                <string>samples_single_iteration_fallback</string>
                <string>sawtooth</string>
                <string>scale_x</string>
                <string>scale_y</string>
                <string>scale</string>
                <string>scale0</string>
                <string>scale1</string>
                <string>scale2</string>
                <string>scene_blend_op</string>
                <string>scene_blend</string>
                <string>scene_depth_range</string>
                <string>scheme</string>
                <string>scroll_anim</string>
                <string>scroll_x</string>
                <string>scroll_y</string>
                <string>scroll</string>
                <string>separate_scene_blend_op</string>
                <string>separate_scene_blend</string>
                <string>separateUV</string>
                <string>set_texture_alias</string>
                <string>shader_reflection_pair_hint</string>
                <string>shading</string>
                <string>shadow_caster_fragment_program_ref</string>
                <string>shadow_caster_material</string>
                <string>shadow_caster_vertex_program_ref</string>
                <string>shadow_colour</string>
                <string>shadow_extrusion_distance</string>
                <string>shadow_map_full_viewport</string>
                <string>shadow_map_repeat</string>
                <string>shadow_map_target_type</string>
                <string>shadow_map</string>
                <string>shadow_scene_depth_range_array</string>
                <string>shadow_scene_depth_range</string>
                <string>shadow</string>
                <string>shadows</string>
                <string>shared_param_named</string>
                <string>shared_params_ref</string>
                <string>shared_params</string>
                <string>sine</string>
                <string>sintime_0_1</string>
                <string>sintime_0_2pi</string>
                <string>sintime_0_x</string>
                <string>skip_load_store_semantics</string>
                <string>slice</string>
                <string>slices</string>
                <string>solid</string>
                <string>sorted</string>
                <string>source</string>
                <string>source1</string>
                <string>source2</string>
                <string>specular</string>
                <string>spherical</string>
                <string>split</string>
                <string>spot</string>
                <string>spotlight_params_array</string> 
                <string>spotlight_params</string>
                <string>spotlight_viewproj_matrix_array</string>
                <string>spotlight_viewproj_matrix</string>
                <string>spotlight_worldviewproj_matrix_array</string>
                <string>spotlight_worldviewproj_matrix</string>
                <string>square</string>
                <string>src_alpha</string>
                <string>src_colour</string>
                <string>src_current</string>
                <string>src_diffuse</string>
                <string>src_manual</string>
                <string>src_specular</string>
                <string>src_texture</string>
                <string>stacks</string>
                <string>start_light</string>
                <string>starting_slot</string>
                <string>state_change</string>
                <string>stencil_read_only</string>
                <string>stencil_value</string>
                <string>stencil</string>
                <string>store_and_resolve</string>
                <string>store_or_resolve</string>
                <string>store</string>
                <string>subroutine</string>
                <string>subtract</string>
                <string>surface_alpha_rejection_value</string>
                <string>surface_ambient_colour</string>
                <string>surface_diffuse_colour</string>
                <string>surface_emissive_colour</string>
                <string>surface_shininess</string>
                <string>surface_specular_colour</string>
                <string>syntax</string>
                <string>tantime_0_1</string>
                <string>tantime_0_2pi</string>
                <string>tantime_0_x</string>
                <string>target_format</string>
                <string>target_height_scaled</string>
                <string>target_height</string>
                <string>target_level_barrier</string>
                <string>target_orientation_mode</string>
                <string>target_width_scaled</string>
                <string>target_width</string>
                <string>target</string>
                <string>technique</string>
                <string>tessellation_domain_program_ref</string>
                <string>tessellation_domain_program</string>
                <string>tessellation_domain</string>
                <string>tessellation_hull_program_ref</string>
                <string>tessellation_hull_program</string>
                <string>tessellation_hull</string>
                <string>tex_address_mode</string>
                <string>tex_border_colour</string>
                <string>texel_offsets</string>
                <string>texture_alias</string>
                <string>texture_copy</string>
                <string>texture_matrix</string>
                <string>texture_size</string>
                <string>texture_source</string>
                <string>texture_unit</string>
                <string>texture_viewproj_matrix_array</string>
                <string>texture_viewproj_matrix</string>
                <string>texture_worldviewproj_matrix_array</string>
                <string>texture_worldviewproj_matrix</string>
                <string>texture</string>
                <string>time_0_1_packed</string>
                <string>time_0_1</string>
                <string>time_0_2pi_packed</string>
                <string>time_0_2pi</string>
                <string>time_0_x_packed</string>
                <string>time_0_x</string>
                <string>time_to_live_max</string>
                <string>time_to_live_min</string>
                <string>time_to_live</string>
                <string>time</string>
                <string>time0</string>
                <string>time1</string>
                <string>time2</string>
                <string>transform</string>
                <string>transparency_casts_shadows</string>
                <string>transpose_projection_matrix</string>
                <string>transpose_view_matrix</string>
                <string>transpose_viewproj_matrix</string>
                <string>transpose_world_matrix</string>
                <string>transpose_worldview_matrix</string>
                <string>transpose_worldviewproj_matrix</string>
                <string>triangle</string>
                <string>uav_buffer</string>
                <string>uav_external</string>
                <string>uav_size</string>
                <string>uav</string>
                <string>unified</string>
                <string>unlimited</string>
                <string>up</string>
                <string>use_hlms_parser</string>
                <string>use_prepass</string>
                <string>use_quad</string>
                <string>use_refractions</string>
                <string>uses_uav</string>
                <string>uv_baking_offset</string>
                <string>uv_baking</string>
                <string>uv</string>
                <string>velocity_max</string>
                <string>velocity_min</string>
                <string>velocity</string>
                <string>vertex_program_ref</string>
                <string>vertex_program</string>
                <string>vertex_winding</string>
                <string>vertex</string>
                <string>vertexcolour</string>
                <string>view_direction</string>
                <string>view_matrix</string>
                <string>view_side_vector</string>
                <string>view_up_vector</string>
                <string>viewport_height</string>
                <string>viewport_modifier_mask</string>
                <string>viewport_size</string>
                <string>viewport_width</string>
                <string>viewport</string>
                <string>viewproj_matrix</string>
                <string>visibility_mask</string>
                <string>warn_if_rtv_was_flushed</string>
                <string>wave_xform</string>
                <string>width</string>
                <string>wireframe</string>
                <string>workspace</string>
                <string>world_dualquaternion_array_2x4</string>
                <string>world_matrix_array_3x4</string>
                <string>world_matrix_array</string>
                <string>world_matrix</string>
                <string>world_scale_shear_matrix_array_3x4</string>
                <string>worldview_matrix</string>
                <string>worldviewproj_matrix</string>
                <string>write</string>
            </array>
	    </dict>
	    <dict>
	        <key>RunKind</key>
	        <string>com.barebones.bblm.predefined-symbol</string>
	        <key>Keywords</key>
	        <array>
                <string>true</string>
                <string>false</string>
                <string>zero</string>
                <string>one</string>
                <string>off</string>
                <string>on</string>
                <string>yes</string>
                <string>no</string>
                <string>none</string>
                <string>bilinear</string>
                <string>clamp</string>
                <string>border</string>
                <string>mirror</string>
                <string>trilinear</string>
                <string>wrap</string>
                <string>PFG_420_OPAQUE</string>
                <string>PFG_A8_UNORM</string>
                <string>PFG_A8P8</string>
                <string>PFG_AI44</string>
                <string>PFG_ASTC_RGBA_UNORM_10X10_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_10X10_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_10X5_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_10X5_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_10X6_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_10X6_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_10X8_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_10X8_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_12X10_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_12X10_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_12X12_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_12X12_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_4X4_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_4X4_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_5X4_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_5X4_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_5X5_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_5X5_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_6X5_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_6X5_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_6X6_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_6X6_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_8X5_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_8X5_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_8X6_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_8X6_sRGB</string>
                <string>PFG_ASTC_RGBA_UNORM_8X8_LDR</string>
                <string>PFG_ASTC_RGBA_UNORM_8X8_sRGB</string>
                <string>PFG_ATC_RGB</string>
                <string>PFG_ATC_RGBA_EXPLICIT_ALPHA</string>
                <string>PFG_ATC_RGBA_INTERPOLATED_ALPHA</string>
                <string>PFG_AYUV</string>
                <string>PFG_B4G4R4A4_UNORM</string>
                <string>PFG_B5G5R5A1_UNORM</string>
                <string>PFG_B5G6R5_UNORM</string>
                <string>PFG_BC1_UNORM_SRGB</string>
                <string>PFG_BC1_UNORM</string>
                <string>PFG_BC2_UNORM_SRGB</string>
                <string>PFG_BC2_UNORM</string>
                <string>PFG_BC3_UNORM_SRGB</string>
                <string>PFG_BC3_UNORM</string>
                <string>PFG_BC4_SNORM</string>
                <string>PFG_BC4_UNORM</string>
                <string>PFG_BC5_SNORM</string>
                <string>PFG_BC5_UNORM</string>
                <string>PFG_BC6H_SF16</string>
                <string>PFG_BC6H_UF16</string>
                <string>PFG_BC7_UNORM_SRGB</string>
                <string>PFG_BC7_UNORM</string>
                <string>PFG_BGR8_UNORM_SRGB</string>
                <string>PFG_BGR8_UNORM</string>
                <string>PFG_BGRA8_UNORM_SRGB</string>
                <string>PFG_BGRA8_UNORM</string>
                <string>PFG_BGRX8_UNORM_SRGB</string>
                <string>PFG_BGRX8_UNORM</string>
                <string>PFG_D16_UNORM</string>
                <string>PFG_D24_UNORM_S8_UINT</string>
                <string>PFG_D24_UNORM</string>
                <string>PFG_D32_FLOAT_S8X24_UINT</string>
                <string>PFG_D32_FLOAT</string>
                <string>PFG_EAC_R11_SNORM</string>
                <string>PFG_EAC_R11_UNORM</string>
                <string>PFG_EAC_R11G11_SNORM</string>
                <string>PFG_EAC_R11G11_UNORM</string>
                <string>PFG_ETC1_RGB8_UNORM</string>
                <string>PFG_ETC2_RGB8_UNORM_SRGB</string>
                <string>PFG_ETC2_RGB8_UNORM</string>
                <string>PFG_ETC2_RGB8A1_UNORM_SRGB</string>
                <string>PFG_ETC2_RGB8A1_UNORM</string>
                <string>PFG_ETC2_RGBA8_UNORM_SRGB</string>
                <string>PFG_ETC2_RGBA8_UNORM</string>
                <string>PFG_G8R8_G8B8_UNORM</string>
                <string>PFG_IA44</string>
                <string>PFG_NULL</string>
                <string>PFG_NV11</string>
                <string>PFG_NV12</string>
                <string>PFG_P010</string>
                <string>PFG_P016</string>
                <string>PFG_P208</string>
                <string>PFG_P8</string>
                <string>PFG_PVRTC_RGB2_SRGB</string>
                <string>PFG_PVRTC_RGB2</string>
                <string>PFG_PVRTC_RGB4_SRGB</string>
                <string>PFG_PVRTC_RGB4</string>
                <string>PFG_PVRTC_RGBA2_SRGB</string>
                <string>PFG_PVRTC_RGBA2</string>
                <string>PFG_PVRTC_RGBA4_SRGB</string>
                <string>PFG_PVRTC_RGBA4</string>
                <string>PFG_PVRTC2_2BPP_SRGB</string>
                <string>PFG_PVRTC2_2BPP</string>
                <string>PFG_PVRTC2_4BPP_SRGB</string>
                <string>PFG_PVRTC2_4BPP</string>
                <string>PFG_R1_UNORM</string>
                <string>PFG_R10G10B10_XR_BIAS_A2_UNORM</string>
                <string>PFG_R10G10B10A2_UINT</string>
                <string>PFG_R10G10B10A2_UNORM</string>
                <string>PFG_R11G11B10_FLOAT</string>
                <string>PFG_R16_FLOAT</string>
                <string>PFG_R16_SINT</string>
                <string>PFG_R16_SNORM</string>
                <string>PFG_R16_UINT</string>
                <string>PFG_R16_UNORM</string>
                <string>PFG_R32_FLOAT</string>
                <string>PFG_R32_SINT</string>
                <string>PFG_R32_UINT</string>
                <string>PFG_R8_SINT</string>
                <string>PFG_R8_SNORM</string>
                <string>PFG_R8_UINT</string>
                <string>PFG_R8_UNORM</string>
                <string>PFG_R8G8_B8G8_UNORM</string>
                <string>PFG_R9G9B9E5_SHAREDEXP</string>
                <string>PFG_RG16_FLOAT</string>
                <string>PFG_RG16_SINT</string>
                <string>PFG_RG16_SNORM</string>
                <string>PFG_RG16_UINT</string>
                <string>PFG_RG16_UNORM</string>
                <string>PFG_RG32_FLOAT</string>
                <string>PFG_RG32_SINT</string>
                <string>PFG_RG32_UINT</string>
                <string>PFG_RG8_SINT</string>
                <string>PFG_RG8_SNORM</string>
                <string>PFG_RG8_UINT</string>
                <string>PFG_RG8_UNORM</string>
                <string>PFG_RGB16_UNORM</string>
                <string>PFG_RGB32_FLOAT</string>
                <string>PFG_RGB32_INT</string>
                <string>PFG_RGB32_UINT</string>
                <string>PFG_RGB8_UNORM_SRGB</string>
                <string>PFG_RGB8_UNORM</string>
                <string>PFG_RGBA16_FLOAT</string>
                <string>PFG_RGBA16_SINT</string>
                <string>PFG_RGBA16_SNORM</string>
                <string>PFG_RGBA16_UINT</string>
                <string>PFG_RGBA16_UNORM</string>
                <string>PFG_RGBA32_FLOAT</string>
                <string>PFG_RGBA32_INT</string>
                <string>PFG_RGBA32_UINT</string>
                <string>PFG_RGBA8_SINT</string>
                <string>PFG_RGBA8_SNORM</string>
                <string>PFG_RGBA8_UINT</string>
                <string>PFG_RGBA8_UNORM_SRGB</string>
                <string>PFG_RGBA8_UNORM</string>
                <string>PFG_UNKNOWN</string>
                <string>PFG_V208</string>
                <string>PFG_V408</string>
                <string>PFG_Y210</string>
                <string>PFG_Y216</string>
                <string>PFG_Y410</string>
                <string>PFG_Y416</string>
                <string>PFG_YUY2</string>
	        </array>
	    </dict>
	    <dict>
	        <key>RunKind</key>
	        <string>com.barebones.bblm.preprocessor</string>
	        <key>Keywords</key>
	        <array>
	            <string>import</string>
	            <string>from</string>
	        </array>
	    </dict>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>BBLMCommentPrefixDefault</key>
	<string>/*</string>
	<key>BBLMCommentSuffixDefault</key>
	<string>*/</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>(//.*$)|(?s:/\*.*?\*/)</string>
		<key>String Pattern</key>
		<string>"(\\"|[^"\r]|\\\r)*"</string>
		<key>Skip Pattern</key>
		<string><![CDATA[
(?x:
    (?P>comment) |
    (?P>string)
)]]></string>
		<key>Identifier and Keyword Character Class</key>
		<string>[:alnum:]_/\.</string>
		<key>Function Pattern</key>
		<string><![CDATA[
(?x:
	# keyword indicating type of block
	(?:compositor_node|compositor_node_shadow|target|workspace|material|particle_system|
		texture_unit|fragment_program_ref|(?P<FP>fragment_program))\s+
	# function name
	(?P<function_name>[[:alnum:]_/]+)
	# in fragment_program case, a language keyword
	(?(<FP>)\s+(?:unified|metal|glsl|glslvk|hlsl))
	# optional colon followed by name, for inheritance
	(?:\s+:\s+[[:alnum:]_/]+)?
	\s*
	# body with nested curly braces
	(?P<bracy>\{((?>[^{}]+)|(?&bracy))*\})
)
]]></string>
	</dict>
</dict>
</plist>
